*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;

}

body{
    background-color:#1A0A2D;
    max-width: 100%;

}

/* navigation section ...... */
.top-header .hambarger{
    display: none;
}

.container{
    width: 85%;
    margin: 0px auto;
}
.top-header{
    border-bottom: 0.2px solid rgb(105, 105, 105);
    width: 100%;
}


.top-header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 1rem;

}
.top-header nav .logo h1{
    color: white;
    font-size: 2.3rem;
}

.top-header nav .logo h1 span{
    background: linear-gradient(to top, rgb(221, 221, 13),rgb(243, 24, 144),rgb(176, 9, 182));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

.menu ul{
    display: flex;
    gap: 1.2rem;
    font-size: 1rem;
    color: white;
}

.nab-btn{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background: linear-gradient(186deg, rgba(95, 42, 155, 1) 0%, rgb(201, 30, 101) 50%, rgba(224, 204, 22, 1) 100%);
    border-radius: 1.2rem;
    padding: 0.7rem 1.3rem;
    color: white;
    
}

.nab-btn p{
    text-transform: capitalize;
    font-size: 1rem;
}

/* hero section ..... */



.hero-section{
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
    

}

.hero-section .hero-image{
    width: 18rem;
    position: relative;
    
}
.hero-section .hero-image .new-base{
    padding: 0.2rem 1rem;
    text-transform: capitalize;
    background-color: rgb(22, 231, 126);
    border-radius: 10px;
}
.hero-section .hero-image > img{
    width: 100%;
}


.hero-section .hero-image .microphone{
    width: 6rem;
    position: absolute;
    left: 32%;
    bottom: 25%;
}
.hero-section .hero-image .microphone img{
    width: 100%;
}
/* .hero-section .hero-image .microphone , .new-base{
    position: absolute;
} */


.hero-section .hero-image .new-base{
    position: absolute;
    top: 1rem;
    right:1rem ;
}

.hero-section .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.hero-section .hero-content h1{
    font-size: 3.3rem;
    color: white;
    margin-bottom: 0.7rem;
}

.hero-section .hero-content p{
    font-size: 0.9rem;
    font-weight: lighter;
    color: white;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.hero-section .hero-content .hero-tow-btn{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.hero-section .hero-content .hero-tow-btn button img{
    width: 1rem;
}
.hero-section .hero-content .hero-tow-btn button{
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1.1rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    border: none;
    outline: none;
    border-radius: 1.3rem
}
.hero-section .hero-content .hero-tow-btn .spotify-btn{
        background: linear-gradient(186deg, rgba(95, 42, 155, 1) 10%, rgb(201, 30, 101) 50%, rgba(224, 204, 22, 1) 100%);

}

.hero-section .hero-content .hero-tow-btn .massage-btn{
    background: transparent;
    color: rgb(8, 224, 152);
    border: 2px solid rgb(8, 224, 152);
}


@media only screen and (max-width:776px){
    .container{
        width: 90%;
    }

    
    .top-header .menu{
        display: none;
    }
    .top-header .nab-btn{
        display: none;
    }

    .top-header .hambarger{
        display: block;
    }
    .top-header .hambarger img{
        width: 100%;
    }
    .hero-section .hero-image{
        width: 15rem;
    }
    .hero-section .hero-image .microphone{
        width: 4rem;
    }
    .hero-section .hero-image .microphone{
        left: 36%;
        bottom: 28%;
        width: 4rem;
    }
}



@media only screen and (max-width:576px){
    .container{
        width:95%;

    }
    .top-header .menu{
        display: none;
    }
    .top-header .nab-btn{
        display: none;
    }

    .top-header .hambarger{
        display: block;
    }
    .top-header .hambarger img{
        width: 100%;
    }

     .hero-section .hero-image{
        width: 15rem;
    }

    .hero-section .hero-image .microphone{
        left: 36%;
        bottom: 28%;
        width: 4rem;
    }

    .hero-section .hero-content p{
        text-align: center;
    }

    .hero-section .hero-content{
        padding: 1rem;
    }


}